.content{
    
    background-color:rgba(241, 225, 195, 0.972);
    padding: 15px;
    margin: 10px;
    border:solid 2px; color: rgba(3, 43, 45, 0.999);
}

.img1{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.img2{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.img3{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}